<?xml version="1.0" encoding="utf-8"?>
<ArrayOfEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Event>
    <Name>Prom</Name>
    <Date>2024-05-30T00:00:00</Date>
    <Location>School</Location>
    <People />
  </Event>
  <Event>
    <Name>picnic</Name>
    <Date>2024-05-31T00:00:00</Date>
    <Location>Courthouse</Location>
    <People>
      <string>billy</string>
    </People>
  </Event>
  <Event>
    <Name>jamboree</Name>
    <Date>2024-05-31T00:00:00</Date>
    <Location>Courthouse</Location>
    <People>
      <string>h</string>
    </People>
  </Event>
  <Event>
    <Name>link</Name>
    <Date>2024-05-31T00:00:00</Date>
    <Location>Auction</Location>
    <People />
  </Event>
</ArrayOfEvent>