<?xml version="1.0" encoding="utf-8"?>
<AppInfo>
  <Location>
    <Name>Auction</Name>
    <Description>Jimmy,Charlotte</Description>
  </Location>
  <Location>
    <Name>Courthouse</Name>
    <Description>Charlotte</Description>
  </Location>
  <Location>
    <Name>School</Name>
    <Description>Jimmy,Charlotte</Description>
  </Location>
  <Location>
    <Name>Hospital</Name>
    <Description>Jimmy,Jordan,Charlotte</Description>
  </Location>
</AppInfo>