<?xml version="1.0" encoding="utf-8"?>
<AppInfo>
<Roster>
  <Person>
    <Name>Jimmy</Name>
    <Birthday>05/01/1999</Birthday>
    <EyeColor>Green</EyeColor>
  </Person>
  <Person>
    <Name>Lilly</Name>
    <Birthday>05/10/2024</Birthday>
    <EyeColor>Blue</EyeColor>
  </Person>
  </Roster>
</AppInfo>