<?xml version="1.0" encoding="utf-8"?>
<AppInfo>
  <Location>
    <Name>Auction</Name>
    <Description>Jimmy,Charlotte</Description>
  </Location>
  <Location>
    <Name>Courthouse</Name>
    <Description>Charlotte</Description>
  </Location>
  <Location>
    <Name>School</Name>
    <Description>Jimmy,Charlotte</Description>
  </Location>
  <Location>
    <Name>Hospital</Name>
    <Description>Jimmy,Jordan,Charlotte</Description>
  </Location>
  <Person>
    <Name>Jimmy</Name>
    <Birthday>01.01.1999</Birthday>
    <EyeColor>Green</EyeColor>
  </Person>
  <Person>
    <Name>a</Name>
    <Birthday>b</Birthday>
    <EyeColor>c</EyeColor>
  </Person>
  <Person>
    <Name>billy</Name>
    <Birthday>June 1</Birthday>
    <EyeColor>blue</EyeColor>
  </Person>
  <Person>
    <Name>jue</Name>
    <Birthday>house 1</Birthday>
    <EyeColor>gfhjf</EyeColor>
  </Person>
  <Person>
    <Name>h</Name>
    <Birthday>1</Birthday>
    <EyeColor>b</EyeColor>
  </Person>
  <Person>
    <Name>f</Name>
    <Birthday>b</Birthday>
    <EyeColor>n</EyeColor>
  </Person>
  <Person>
    <Name>jessica</Name>
    <Birthday>1999</Birthday>
    <EyeColor>blue</EyeColor>
  </Person>
  <Person>
    <Name>kendra</Name>
    <Birthday>may 01 1998</Birthday>
    <EyeColor>pink</EyeColor>
  </Person>
  <Person>
    <Name>haley</Name>
    <Birthday>March 4 2000</Birthday>
    <EyeColor>blue</EyeColor>
  </Person>
  <Person>
    <Name>haley</Name>
    <Birthday>March 4 2000</Birthday>
    <EyeColor>blue</EyeColor>
  </Person>
  <Person>
    <Name>helen</Name>
    <Birthday>March 4 2000</Birthday>
    <EyeColor>blue</EyeColor>
  </Person>
</AppInfo>