<?xml version="1.0" encoding="utf-8"?>
<AppInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Locations>
    <Location>
      <Name>Park</Name>
      <Description>Happy place</Description>
    </Location>
    <Location>
      <Name>School</Name>
      <Description>We learn here</Description>
    </Location>
  </Locations>
  <People>
    <Person>
      <Name>Jimmy</Name>
      <Description>May 1 1999 
 Green</Description>
    </Person>
    <Person>
      <Name>Charlotte</Name>
      <Description>October 4 2000 
 Brown</Description>
    </Person>
  </People>
</AppInfo>