<?xml version="1.0" encoding="utf-8"?>
<AppInfo>
  <Event>
    <Name>Auction</Name>
    <Date>7.14.2000</Date>
    <Place>City</Place>
    <People>Jimmy,Charlotte</People>
  </Event>
  <Event>
    <Name>a</Name>
    <Date>c</Date>
    <Place>b</Place>
    <People>
    </People>
  </Event>
  <Event>
    <Name>baseball game</Name>
    <Date>7</Date>
    <Place>highschool</Place>
    <People>Temp</People>
  </Event>
</AppInfo>