<?xml version="1.0" encoding="utf-8"?>
<ArrayOfEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Event>
    <Name>Picnic</Name>
    <Date>2024-06-05T00:00:00</Date>
    <Location>Park</Location>
    <People>
      <string>Jimmy</string>
    </People>
  </Event>
  <Event>
    <Name>Field day</Name>
    <Date>2024-06-06T00:00:00</Date>
    <Location>School</Location>
    <People />
  </Event>
</ArrayOfEvent>