<?xml version="1.0" encoding="utf-8"?>
<ArrayOfEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Event>
    <Name>Dance</Name>
    <Date>2024-05-30T15:31:22.9332522-07:00</Date>
    <Location>Highschool</Location>
    <People>
      <string>Jimmy</string>
      <string>Charlotte</string>
    </People>
  </Event>
  <Event>
    <Name>Job</Name>
    <Date>1999-05-01T00:00:00</Date>
    <Location>Park</Location>
    <People>
      <string>Charlotte</string>
    </People>
  </Event>
  <Event>
    <Name>Prom</Name>
    <Date>2024-05-30T15:35:51.5439811-07:00</Date>
    <Location>Highschool</Location>
    <People>
      <string>Jimmy</string>
      <string>Charlotte</string>
    </People>
  </Event>
  <Event>
    <Name>Picnic</Name>
    <Date>1999-05-01T00:00:00</Date>
    <Location>Park</Location>
    <People>
      <string>Charlotte</string>
    </People>
  </Event>
  <Event>
    <Name>Birthday</Name>
    <Date>2024-05-30T00:00:00</Date>
    <Location />
    <People />
  </Event>
  <Event>
    <Name>j</Name>
    <Date>2024-05-30T00:00:00</Date>
    <Location>School</Location>
    <People />
  </Event>
</ArrayOfEvent>